.detail-loader {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    .details {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .circle {
            width: 100px;
            height: 100px;
            background-color: #ececec;
            border-radius: 50%;
            background: linear-gradient(120deg,
                    #ececec 50%,
                    #fafafa 60%,
                    #fafafa 61%,
                    #ececec 70%);
            background-size: 200%;
            background-position: 100% 0;
            animation: waves 2s linear infinite;
        }


        @keyframes waves {
            100% {
                background-position: -100% 0;
            }
        }

        .line {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background-color: #ececec;
            background: linear-gradient(120deg,
                    #ececec 50%,
                    #fafafa 60%,
                    #fafafa 61%,
                    #ececec 70%);
            background-size: 200%;
            background-position: 100% 0;
            animation: waves 2s linear infinite;
        }
    }
}